*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark{
    background-image: url('bg.jfif');
}


.mt-50{
    margin-top: 20px;
}

.card{
    background: #0000009e !important;
    color: whitesmoke;
    padding: 10px;
    border-radius: 30px;
    margin: 1em;
}